In [1]:
!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
    100% |████████████████████████████████| 911kB 14.3MB/s a 0:00:011
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.7/site-packages (from selenium) (1.24.1)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [2]:
import os
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import re
import pandas as pd
import time

def initalize_driver():
    chrome_options = Options()
    chrome_options.add_argument('--headless')
    chrome_options.add_argument('--no-sandbox')
    chrome_options.add_argument('--disable-dev-shm-usage')
    driver = webdriver.Chrome(chrome_options=chrome_options)
    return driver

driver = initalize_driver()
base_url = "https://www.personality-database.com/"

def get_page_contents(driver, url, sleep=0):
    driver.get(url)
    time.sleep(sleep)
    return driver.page_source

def get_category_urls(driver, base_url, sleep):
    page = get_page_contents(driver, base_url, sleep)
    soup = BeautifulSoup(page, 'html.parser')
    a = soup.find("div", {"id": "categories"})
    a1 = str(a).split("Real Profiles")[-1].split("Fictional Profiles")[0]
    a1 = BeautifulSoup(a1, 'html.parser')
    a1 = a1.find_all("a")
    a1 = list(map(lambda x: re.findall(r'"/(.*?)"', str(x)), a1))
    cats = [base_url + c[0] for c in a1]
    return cats

def get_subcategory_urls(driver, category_url, sleep):
    page = get_page_contents(driver, category_url, sleep)    
    soup = BeautifulSoup(page)
    a = soup.find_all("div", {"id" : re.compile(re.compile('^subcat-item.*'))})
    a1 = list(map(lambda x: x.find_all("a"), a))
    a1 = list(map(lambda x: re.findall(r'"/(.*?)"', str(x)), a1))    
    sub_cats = [base_url + c[0] for c in a1]    
    return sub_cats

def get_profiles_urls(driver, subcategory_url, sleep):
    page = get_page_contents(driver, subcategory_url, sleep)    
    soup = BeautifulSoup(page)
    a = soup.find_all("span", {"class" : re.compile(re.compile('^profile-container.*'))})
    a1 = list(map(lambda x: x.find_all("a"), a))
    a1 = list(map(lambda x: re.findall(r'"/(.*?)"', str(x)), a1))    
    profiles = [base_url + c[0] for c in a1]    
    return profiles

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: use options instead of chrome_options

In [3]:
# categories = get_category_urls(driver, base_url, 2)
# sub_cats = get_subcategories(driver, categories[1])

In [4]:
# print(len(categories))
# categories

In [5]:
def make_categories_df(driver, base_url):
    driver.quit()
    driver = initalize_driver() 
    cats = get_category_urls(driver, base_url, 1)
    categories, subcategories = [], []
    for c in cats:
#         driver.quit()
#         driver = initalize_driver() 
        sub_cats = get_subcategory_urls(driver, c, sleep=2)
        categories += [c]*len(sub_cats)
        subcategories += sub_cats
        print("category:", c, "num subcategories:", len(sub_cats))
    df = pd.DataFrame({"category":categories,"subcategory":subcategories})
    return df

# categories_df = make_categories_df(driver, base_url)
# categories_df.to_csv("data/categories.csv", index=False)
categories_df = pd.read_csv("data/categories.csv")
categories_df.head()

,category,subcategory
0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...
1,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...
2,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...
3,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...
4,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...

In [6]:
print(len(categories_df["category"].drop_duplicates()))
for c in categories_df["category"].drop_duplicates():
    print(c)

11
https://www.personality-database.com/category/1/Pop-Culture/mbti-personality-type
https://www.personality-database.com/category/10/Noteworthy/mbti-personality-type
https://www.personality-database.com/category/14/Music/mbti-personality-type
https://www.personality-database.com/category/6/Political/mbti-personality-type
https://www.personality-database.com/category/5/Sports/mbti-personality-type
https://www.personality-database.com/category/16/The-Arts/mbti-personality-type
https://www.personality-database.com/category/21/Science/mbti-personality-type
https://www.personality-database.com/category/17/Business/mbti-personality-type
https://www.personality-database.com/category/18/Religion/mbti-personality-type
https://www.personality-database.com/category/22/Historical/mbti-personality-type
https://www.personality-database.com/category/15/Internet/mbti-personality-type

In [7]:
def make_profiles_df(driver, categories_df):
    driver.quit()
    driver = initalize_driver() 
    subcategories, profiles = [], []
    for sc in categories_df["subcategory"]:
        profs = get_profiles_urls(driver, sc, sleep=2)
        subcategories += [sc]*len(profs)
        profiles += profs
    df = pd.DataFrame({"subcategory":subcategories, "profile":profiles})
    df = categories_df.merge(df, on="subcategory")
    return df

# profiles_df = make_profiles_df(driver, categories_df)
# profiles_df.to_csv("data/profiles.csv", index=False)
profiles_df = pd.read_csv("data/profiles.csv")
profiles_df.head()

,category,subcategory,profile
0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/1...
1,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/3...
2,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/2...
3,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/1...
4,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/1...

In [8]:
print(len(profiles_df))
exclude = ["mythical", "religion", "historical", "fictional", "memes"]
for e in exclude:
    profiles_df = profiles_df[~profiles_df["category"].str.lower().str.contains(e)]
    profiles_df = profiles_df[~profiles_df["subcategory"].str.lower().str.contains(e)]

# profiles_df.to_csv("data/profiles_filt.csv", index=False)
profiles_df = pd.read_csv("data/profiles_filt.csv")
print(len(profiles_df))
profiles_df.head()

10560
9930

,category,subcategory,profile
0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/1...
1,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/3...
2,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/2...
3,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/1...
4,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,https://www.personality-database.com/profile/1...

In [ ]:
# TODO the first three categories are getting dropped (who knows what else). Losing ~50% of people.

In [33]:
def parse_profile(driver, profile_url, sleep):
    page = get_page_contents(driver, profile_url, sleep)    
    soup = BeautifulSoup(page)
    votes = soup.find_all("div", {"class" : re.compile(re.compile('.*vote-breakdown-container.*'))})
    votes = [v.find_all("p") for v in votes]    
    labels = ["votes_"+re.findall(r'(?<=\<p\>)(.*)(?=\()', str(v))[0].strip() for v in votes]
    scores = [re.findall(r'(?<=\()(.*)(?=\))', str(v))[0].strip() for v in votes]
    d = dict(zip(labels, scores))
    letters = soup.find_all("div", {"class" : re.compile(re.compile('.*breakdown-item.*'))})
    labels = [l.find("h1", {"class" : re.compile(re.compile('the-letters'))}).contents[0] for l in letters[:8]]
    scores = [l.find("h5").contents[0] for l in letters[:8]]    
    d2 = dict(zip(labels, scores))
    labels = [l.find("p").contents[0] for l in letters[8:]]
    labels2 = [l.find("h5").contents[0] for l in letters[8:]]
    d3 = dict(zip(labels, labels2))
    img = soup.find("img", {"class" : re.compile(re.compile('card-image'))})["src"]
    d4 = {"img_url" : img, "profile": profile_url}    
    name = soup.find("h2", {"id" : re.compile(re.compile('.*name-normal.*'))}).contents[0]
    d5 = {"name":name}
    return pd.DataFrame.from_dict(data={**d, **d2, **d3, **d4, **d5}, orient="index").transpose()


start = 0
finish = 50
ps = []
driver.quit()
driver = initalize_driver()  
for i,p in enumerate(profiles_df["profile"][start:finish]):
    try:
        print(start + i)
        df = parse_profile(driver, p, 2)
        ps.append(df)
    except:
        print(p)
        time.sleep(1)
          
profiles_full_df = pd.concat(ps,axis=0)
profiles_full_df.to_csv("data/profiles_full_%s_%s.csv" % (start, finish), index=False)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: use options instead of chrome_options

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
https://www.personality-database.com/profile/43127/chico-marx-people-of-classic-hollywood-mbti-personality-type
17
18
19
20
21
22
23
https://www.personality-database.com/profile/42013/deforest-kelley-people-of-classic-hollywood-mbti-personality-type
24
25
26
27
https://www.personality-database.com/profile/43805/dorothy-gish-people-of-classic-hollywood-mbti-personality-type
28
29
30
31
32
33
34
35
https://www.personality-database.com/profile/40994/george-burns-people-of-classic-hollywood-mbti-personality-type
36
https://www.personality-database.com/profile/44997/george-takei-people-of-classic-hollywood-mbti-personality-type
37
https://www.personality-database.com/profile/49238/ginger-rogers-people-of-classic-hollywood-mbti-personality-type
38
39
40
41
42
https://www.personality-database.com/profile/43128/gummo-marx-people-of-classic-hollywood-mbti-personality-type
43
44
https://www.personality-database.com/profile/43129/harpo-marx-people-of-classic-hollywood-mbti-personality-type
45
46
47
48
49

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:37: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [21]:
driver.quit()
driver = initalize_driver()  
x = parse_profile(driver, "https://www.personality-database.com/profile/324/benjamin-harrison-presidents-of-the-usa-mbti-personality-type")
x

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: use options instead of chrome_options

,votes_ISTJ,I,S,T,J,SJ,SP,NT,NF,Dom,Aux,Tert,Inf,img_url,profile,name
0,12,100%,100%,100%,100%,100%,0%,0%,0%,Si,Te,Fi,Ne,https://api.personality-database.com/profile_i...,https://www.personality-database.com/profile/3...,Benjamin Harrison

In [22]:
x.columns

Index(['votes_ISTJ', I, S, T, J, SJ, SP, NT, NF, Dom, Aux, Tert, Inf,
       'img_url', 'profile', 'name'],
      dtype='object')

In [11]:
from glob import glob

g = glob("data/profiles_full_*")
profiles_full = pd.concat([pd.read_csv(f) for f in g],axis=0)
profiles_full.head()

,Aux,Dom,E,F,I,Inf,J,N,NF,NT,...,votes_ESTJ,votes_ESTP,votes_INFJ,votes_INFP,votes_INTJ,votes_INTP,votes_ISFJ,votes_ISFP,votes_ISTJ,votes_ISTP
0,Ni,Te,100%,NaN,NaN,Fi,100%,100%,0%,100%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Se,Ti,NaN,NaN,100%,Fe,NaN,NaN,0%,0%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
2,Ti,Se,100%,NaN,NaN,Ni,NaN,NaN,0%,0%,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Te,Si,NaN,NaN,100%,Ne,100%,NaN,0%,0%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4,Fi,Se,100%,100%,NaN,Ni,NaN,NaN,0%,0%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df = profiles_full[list(filter(lambda x: "votes"in x ,profiles_full.columns))]
profiles_full['mbti'] = df.idxmax(axis=1)
profiles_full["total_votes"] = df.sum(axis=1)
profiles_full = profiles_full.merge(profiles_df, on="profile")

# TODO this is bad, need to pull name directly from profile
profiles_full["name"] = profiles_full["profile"].apply(lambda x: " ".join(x.split("/")[-1].split("-")[:2]))
profiles_full.head()

,Aux,Dom,E,F,I,Inf,J,N,NF,NT,...,votes_INTP,votes_ISFJ,votes_ISFP,votes_ISTJ,votes_ISTP,mbti,total_votes,category,subcategory,name
0,Ni,Te,100%,NaN,NaN,Fi,100%,100%,0%,100%,...,NaN,NaN,NaN,NaN,NaN,votes_ENTJ,1.0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,greg maddox
1,Se,Ti,NaN,NaN,100%,Fe,NaN,NaN,0%,0%,...,NaN,NaN,NaN,NaN,3.0,votes_ISTP,3.0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,jackie robinson
2,Ti,Se,100%,NaN,NaN,Ni,NaN,NaN,0%,0%,...,NaN,NaN,NaN,NaN,NaN,votes_ESTP,4.0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,manny machado
3,Te,Si,NaN,NaN,100%,Ne,100%,NaN,0%,0%,...,NaN,NaN,NaN,5.0,NaN,votes_ISTJ,5.0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,mike trout
4,Fi,Se,100%,100%,NaN,Ni,NaN,NaN,0%,0%,...,NaN,NaN,NaN,NaN,NaN,votes_ESFP,5.0,https://www.personality-database.com/category/...,https://www.personality-database.com/subcatego...,pedro martinez

In [118]:
# for p in list(profiles_full["profile"]):
#     print(p)

print(len(profiles_full))

exclude = ["mythical", "religion", "historical", "fictional", "memes"]
for e in exclude:
    profiles_full = profiles_full[~profiles_full["category"].str.lower().str.contains(e)]
    profiles_full = profiles_full[~profiles_full["subcategory"].str.lower().str.contains(e)]

print(len(profiles_full))

profiles_full = profiles_full[profiles_full["total_votes"]>3]

print(len(profiles_full))

906
906
906

In [115]:
profiles_full["name"].tail(100)

2128             efe aydal
2131          elvis horton
2132           ethan klein
2133           ethan klein
2136         george andrew
2137      george ouzounian
2140       gregory fluhrer
2142         harris brewis
2144            hila klein
2146       hunter avallone
2149          jaclyn glenn
2157         jj mccullough
2162         joe santagato
2163           john scarce
2165           june lapine
2167         kalvin garrah
2168         kalvin garrah
2169         kalvin garrah
2170         kalvin garrah
2173         kyle kulinski
2179         mario brisson
2187           nando moura
2188          natalie wynn
2189         nicole arbour
2192          oliver thorn
2195           paulo kogos
2196         paulo miranda
2198         ram karavadra
2199           raphal lima
2205          roman abalin
               ...
2304     lucas feuerschtte
2307          maicon kster
2311        mark fischbach
2312        mark fischbach
2315          morgan adams
2325           phil lester
2326           phil lester
2328            pj liguori
2329            pj liguori
2331           ricky banks
2332          roman atwood
2334        rubn gundersen
2336          tana mongeau
2340          tyler oakley
2345       andrew ilnyckyj
2348    keith habersberger
2350          ryan bergara
2351           shane madej
2353         zach kornfeld
2357           carson king
2358             cau moura
2359         chad bergstrm
2360         charles green
2361     christopher lafon
2363           emilia fart
2373             kizuna ai
2378       matthew santoro
2380           orkun itmak
2384    stonebrix internet
2386           sungwon cho
Name: name, Length: 100, dtype: object

In [122]:
# get better / more images

import requests
import random

def get_image_urls_from_query(query):
    r = requests.get("https://api.qwant.com/api/search/images",
        params={
            'count': 50,
            'q': query,
            't': 'images',
            'safesearch': 1,
            'locale': 'en_US',
            'uiv': 4
        },
        headers={
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'
        }
    )
    response = r.json().get('data').get('result').get('items')
    urls = [r.get('media') for r in response]
    return urls

In [125]:
names, images = [], []
for name in profiles_full["name"]:
    imgs = get_image_urls_from_query(name)[:3]
    names += [name]*len(imgs) 
    images += imgs

names_imgs_df = pd.DataFrame({"name":names,"image":images})
names_imgs_df.to_csv("data/names_images.csv",index=False)

ConnectionError: HTTPSConnectionPool(host='api.qwant.com', port=443): Max retries exceeded with url: /api/search/images?count=50&q=gareth+bale&t=images&safesearch=1&locale=en_US&uiv=4 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7faf4aa38be0>: Failed to establish a new connection: [Errno 111] Connection refused'))

In [124]:
names_imgs_df

              name                                              image
0    manny machado  https://upload.wikimedia.org/wikipedia/commons...
1    manny machado  https://upload.wikimedia.org/wikipedia/commons...
2    manny machado  https://upload.wikimedia.org/wikipedia/commons...
3       mike trout  https://upload.wikimedia.org/wikipedia/commons...
4       mike trout  https://nbcsportsworld.files.wordpress.com/201...
5       mike trout  https://upload.wikimedia.org/wikipedia/commons...
6   pedro martinez  https://thenypost.files.wordpress.com/2018/08/...
7   pedro martinez  https://ultimasnoticias.com.do/wp-content/uplo...
8   pedro martinez  http://www.piodeportes.com/wp-content/uploads/...
9          ty cobb  http://upload.wikimedia.org/wikipedia/commons/...
10         ty cobb  http://cdn1.blog-media.zillowstatic.com/1/Ty-C...
11         ty cobb  http://afflictor.com/wp-content/uploads/2014/0...
12     willie mays  http://l.yimg.com/os/en_us/News/gettyimages.co...
13     willie mays  http://2.bp.blogspot.com/-SAP_xrpMaKI/VUIeoblw...
14     willie mays  http://www.nbcsports.com/bayarea/sites/csnbaya...
15     yasiel puig  https://cdn-s3.si.com/s3fs-public/styles/marqu...
16     yasiel puig  https://cdn.vox-cdn.com/thumbor/oddUqsDC298tCH...
17     yasiel puig  https://upload.wikimedia.org/wikipedia/commons...
18      yogi berra  https://cdn-s3.si.com/s3fs-public/styles/marqu...
19      yogi berra  http://cdn-s3.si.com/s3fs-public/images/1959-y...
20      yogi berra  https://upload.wikimedia.org/wikipedia/commons...
21  michael jordan  https://upload.wikimedia.org/wikipedia/commons...
22  michael jordan  http://cdn-s3.si.com/s3fs-public/images/1988-M...
23  michael jordan  http://3.bp.blogspot.com/-1yxX6BtqUfM/Tb-q5RSl...
24    earvin magic  http://www.media2.hw-static.com/wp-content/upl...
25    earvin magic  http://www.media1.hw-static.com/wp-content/upl...
26    earvin magic  http://www.dayspamagazine.com/wp-content/uploa...
27     kobe bryant  https://upload.wikimedia.org/wikipedia/commons...
28     kobe bryant  http://www.trbimg.com/img-565b989f/turbine/la-...
29     kobe bryant  https://upload.wikimedia.org/wikipedia/commons...